parameters:
    level: max
    paths:
        - app/
        - routes/
        - database/
    ignoreErrors:
        - '#Dynamic call to static method Illuminate\\Http\\Request::validate\(\).#'
        - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\Models\\[a-zA-Z]+>::orderBy().#'
